<h1>Welcome, <%= @sales_name %>!</h1>
<p>
  <h3><%= @quote.quote %></h3>
</p>
<p><%= link_to "See today's conversations", conversations_path %> |
  <%= link_to "Manage clients", people_path %>
</p>
<p>
  <h2>Today's follow ups</h2>

<table class="table">
    <th>Client</th>
    <th>Median</th>
    <th>Follow Up Date</th>
    <th></th>
    <th></th>
  <tbody>
    <% @follow_ups.each do |follow_up| %>
    <tr>
    <td><%= link_to follow_up.person.name, person_path(follow_up.person_id) %> </td>
    <td><%= follow_up.medium %></td>
    <td><%= follow_up.follow_up_on %></td>
    <td><%= link_to "Conversation", conversation_path(follow_up.id) %> </td>
    <td><%= link_to follow_up_path(follow_up.id), method: :delete, class: "delete" do %>
     <%= fa_icon("trash-o") %> <span>delete</span>
     <% end %>
    </td>
    </tr>
    <% end %>
    <tr></tr>
  </tbody>
</table>
